html, body {
  color: white;
  height: 100%;
}

body {
  background-image: url("../images/bg.jpg");
}

#wrap {
  min-height: 93.7%;
  height: auto;
  margin: 0 auto -30px;
}

.navtext {
  font-size: 24px
}

#logo {
  font-size: 144px;
}

#content {

}

h4 {
  font-family: Verdana;
  font-size: 24px;
  font-weight: bold;
}

#footer {
  text-align: center;
  height: 30px;
  font-color: white;
  background-color: black;
}